/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0%; padding: 0%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.modal  .mat-mdc-dialog-surface.mdc-dialog__surface {
    min-width: 400px;
    max-width: 60%;
    height: auto;
    overflow: hidden;
}